<li class = "js-info-item">
    <p>
        <span class = "js-info-item-title">Capital:</span>
        <span class = "js-info-item-text">{{this.capital}}</span>
    </p>
</li>
<li class = "js-info-item">
    <p>
        <span class = "js-info-item-title">Population:</span>
        <span class = "js-info-item-text">{{this.population}}</span>
    </p>
</li>
<li class = "js-info-item">
    <p>
        <span class = "js-info-item-title">Languages:</span>
        <span class = "js-info-item-text">{{this.languages}}</span>
    </p>
</li>