{{#each this}}
    <li class = "js-list-item">
        <img src="{{this.flags.svg}}" alt=`flag of ${{{this.name.official}}}` class="js-img-item">
        <p>{{this.name.official}}</p>
    </li>
{{/each}}