{{#each this}}
    <li class = "js-list-item">
        <p>
            <span class = "js-list-item-flag">{{this.flags.svg}}</span>
            <spa class = "js-list-item-name">{{this.name.official}}</spa>
        </p>
    </li>
{{/each}}